<ion-view view-title="krishi IoT">
  <ion-content align="center">
  <br><br>
  <h3>krishi IoT Mobile App</h3>
  <p>version 0.7.1</p>
  <img src="img/about.png"/>
  <br>
  <a href="http://krishi-iot.blogspot.in/">krishi IoT: An open source, wireless IoT powered solution for agricultural applications</a>
  <br><br>
    <p>
    Need help? reach out to <a href="mailto:sivakatru@gmail.com">us</a>!
    <br>
      Like our app, spread the word in <a href="https://www.twitter.com">Twitter</a>, <a href="https://www.facebook.com">Facebook</a>, <a href="https://plus.google.com">Google+</a>, etc.
    </p>
  </ion-content>
  </ion-content>
</ion-view>
