<ion-view view-title="krishi IoT">
  <ion-content class="padding">
    <h4>Welcome to krishi IoT Platform</h4><br>
	<h5>Follow the below steps to configure the app</h5><br>
    <ion-list>
		<ion-item  class="item-text-wrap">
		Make sure device are connected to the Internet</ion-item>
		<ion-item  class="item-text-wrap">
		Configure broker details: navigate to 'Settings' pane</ion-item>
		<ion-item  class="item-text-wrap">
		Follow message template: Make sure device are sending the data</ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
    <p>
    Need help? reach out to <a href="#" onclick="window.open('mailto:sivakatru@gmail.com', '_system', 'location=yes'); return false;">us</a> | 
      Like the app, Spread the word in <a href="#" onclick="window.open('https://www.twitter.com', '_system', 'location=yes'); return false;">Twitter</a>,<a href="#" onclick="window.open('https://www.facebook.com', '_system', 'location=yes'); return false;">Facebook</a>,<a href="#" onclick="window.open('https://plus.google.com', '_system', 'location=yes'); return false;">Google+</a>
    </p>
	</ion-footer-bar>
</ion-view>
